


	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">Страничка <span class="tm-yellow-text"> для</span> коллег</h1>
					<p class="tm-banner-subtitle"></p>
					<a href="#more" class="tm-banner-link">Блог</a>	
				</div>
				<img src="img/banner-3.jpg" alt="Banner 3" />	
		    </li>		    
		  </ul>
		</div>	
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/world-map.png" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Lorem Isum Dolor</h2>
							<h3 class="slider-subtitle">Gravida nibh vel velit auctor aliquet enean sollicitudin lorem quis auctor, nisi elit consequat ipsum</h3>
							<p class="slider-description">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>		
	


<section class="container tm-home-section-1" id="more1">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">БЛОГ</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
		<div class="row">
			<!-- slider -->
			<div >
				<ul class="slides">
					<li>
						<img src="img/blog.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
						
							<a href="#"> <h2 class="slider-title">Тема поста</h2></a>
							<h3 class="slider-subtitle">Посты с меткой "для коллег"</h3>
							<p class="slider-description">Текст поста. Можно сделать только текст, а фото уже внутри поста. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">

								<a href="#" class="tm-social-icon"><i class="fa fa-comments"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-heart"></i></a>
							</div>
						</div>	



					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<!-- slider -->
			<div >
				<ul class="slides">
					<li>
						<img src="img/blog.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
						
							<a href="#"> <h2 class="slider-title">Тема поста</h2></a>
							<h3 class="slider-subtitle">Посты с меткой "для коллег"</h3>
							<p class="slider-description">Текст поста. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">

								<a href="#" class="tm-social-icon"><i class="fa fa-comments"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-heart"></i></a>
							</div>
						</div>	



					</li>
				</ul>
			</div>
		</div>


	</section>	
	<!-- white bg -->


	