


	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">Страничка <span class="tm-yellow-text"> для</span> коллег</h1>
					<p class="tm-banner-subtitle"></p>
					<a href="#more2" class="tm-banner-link">Блог</a>	
				</div>
				<img src="img/banner-3.jpg" alt="Banner 3" />	
		    </li>		    
		  </ul>
		</div>	
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more1">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/collegues.jpeg" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Дорогие коллеги! </h2>
							<h3 class="slider-subtitle">Здорово, что в разных храмах люди ищут возможности общаться с подростками и вместе с ними практиковать христианство.</h3>
							<p class="slider-description"> Здесь, на сайте мы расскажем, что и как мы делаем и на какие ценности и цели опираемся.<br><br> Будем благодарны, если пришлете нам свои идеи и концепции <a href="http://localhost:3000/collegues#send" class="tm-social-icon"><i class="fa fa-envelope-o"></i> сюда</a> <br>или вышлите нам на адрес <a href="mailto:podrostki.hram@gmail.com" class="tm-social-icon">podrostki.hram@gmail.com</a> электронной почты.<br><br>
                            Описание подхода <a href="#" class="tm-social-icon"><i class="fa fa-envelope-o"></i> здесь</a>.<br><br>
                            Упоминания о клубе и лагере в СМИ <a href="#" class="tm-social-icon"><i class="fa fa-television"></i> здесь</a>.<br><br>
                            </p>
							<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>		
	


<section class="container tm-home-section-1" id="more2">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">БЛОГ</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
		<div class="row">
			<!-- slider -->
			<div >
				<ul class="slides">
					<li>
						<img src="img/blog.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
						
							<a href="#"> <h2 class="slider-title">Тема поста</h2></a>
							<h3 class="slider-subtitle">Посты с меткой "для коллег"</h3>
							<p class="slider-description">Текст поста. Можно сделать только текст, а фото уже внутри поста. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">

								<a href="#" class="tm-social-icon"><i class="fa fa-comments"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-heart"></i></a>
							</div>
						</div>	



					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<!-- slider -->
			<div >
				<ul class="slides">
					<li>
						<img src="img/blog.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
						
							<a href="#"> <h2 class="slider-title">Тема поста</h2></a>
							<h3 class="slider-subtitle">Посты с меткой "для коллег"</h3>
							<p class="slider-description">Текст поста. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">

								<a href="#" class="tm-social-icon"><i class="fa fa-comments"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-heart"></i></a>
							</div>
						</div>	



					</li>
				</ul>
			</div>
		</div>


	</section>	

    <!-- white bg -->
    <section class="section-padding-bottom" id="send">
        <div class="container">
            <div class="row">
                <div class="tm-section-header section-margin-top">
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Оставить нам письмо</h2></div>
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>  
                </div>              
            </div>
            <div class="row">
                <!-- contact form -->
                <form action="#" method="post" class="tm-contact-form">
                    <!--<div class="col-lg-6 col-md-6">
                        <div id="google-map"></div>
                        <div class="contact-social">
                            <a href="#" class="tm-social-icon tm-social-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon tm-social-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="#" class="tm-social-icon tm-social-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon tm-social-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="tm-social-icon tm-social-google-plus"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div> -->
                    <div class="col-lg-2 col-md-2 tm-contact-form-input">
                    </div>
                    <div class="col-lg-8 col-md-8 tm-contact-form-input">
                        <div class="form-group">
                            <input type="text" id="contact_name" class="form-control" placeholder="ИМЯ" />
                        </div>
                        <div class="form-group">
                            <input type="email" id="contact_email" class="form-control" placeholder="ПОЧТА" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="contact_subject" class="form-control" placeholder="ТЕМА" />
                        </div>
                        <div class="form-group">
                            <textarea id="contact_message" class="form-control" rows="6" placeholder="ТЕКСТ"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="tm-submit-btn" type="submit" name="submit">Отправить</button> 
                        </div>               
                    </div>
                </form>
            </div>          
        </div>
    </section>
	<!-- white bg -->


	