
	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">Страница<span class="tm-yellow-text"> про</span> нас</h1>
					<p class="tm-banner-subtitle">и про наш лагерь</p>
					<div class="row">
						<a href="#more1" class="tm-banner-link">Немного о нас</a>	
						
					</div>
				</div>
				<img src="img/banner-3.jpg" alt="Banner 3" />	
		    </li>		    
		  </ul>
		</div>	
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more1">
	<div class="row">
    
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
			    <div class="container-fluid mt-7">
			        <div class="row mb-6" >
			            <section class="col-lg-10 mb-lg-10 mb-10">
			                <div class="tm-intro">
			                    <h3 class="tm-title-gray mb-4">Чем эта страничка может быть полезна, интересна?</h3>
			                    <hr class="mb-5 tm-hr">
			                    <p class="mb-5">Здравствуйте, подростки, родители и коллеги!</p>
			                    <p class="mb-5">Рады приветствовать вас на нашем сайте Приходского подросткового клуба храма свв. Космы и Дамиана в Шубине (Москва).
			                            Мы два раза в год проводим лагерь: в январе и в конце июня. А между лагерями мы общаемся на встречах клуба.</p>
			                    <img src="img/summer.jpg" alt="image" class="contact-image">
			                </div>
			            </section>

			        </div>
			        <!-- Services -->
			        <div class="row mb-7">
			            <div class="col-lg-4 col-md-6">
			                <div class="tm-bg-gray tm-box">
			                    <div class="text-center mb-3">
			                        <i class="fas fa-cloud-sun fa-5x p-5"></i>
			                    </div>
			                    <h4 class="tm-text-primary tm-h3 mb-5">Если ты подросток.</h4>
			                    <h3 class="slider-subtitle">Кто-то из подростков размышляет, не поехать ли в лагерь или не прийти ли на клуб.</h3>
			                    <p> Это здорово. Переходи на вкладку <a href="/kids">"Подросткам"</a> и ты сможешь увидеть фото и видео из клубов и лагерей и почитать впечатления подростков и ведущих, что это все такое.</p><br/><br/>
			                </div>
			            </div>
			            <div class="col-lg-4 col-md-6">
			                <div class="tm-bg-gray tm-box">
			                    <div class="text-center mb-3">
			                        <i class="fas fa-spa fa-5x p-5"></i>
			                    </div>
			                    <h4 class="tm-text-primary tm-h3 mb-5">Если ВЫ родитель.</h4>
			                    
			                    <h3 class="slider-subtitle">Кто-то из родителей размышляет, не записать ли своего сына или дочь в лагерь или не предложить ли ей/ему пойти на встречу клуба.</h3>
			                    <p>Для вас мы тоже разместили описание подхода, наших целей и методов. Вы сможете посмотреть видео, почитать впечатления тех, кто в лагере уже бывал. Заходите на вкладку <a href="/parents">"Родителям"</a>.</p>
			                </div>
			            </div>
			            <div class="col-lg-4 col-md-6">
			                <div class="tm-bg-gray tm-box">
			                    <div class="text-center mb-3">
			                        <i class="fas fa-spa fa-5x p-5"></i>
			                    </div>
			                    <h4 class="tm-text-primary tm-h3 mb-5">Если мы коллеги.</h4>
			                    <h3 class="slider-subtitle">В разных храмах есть взрослые, которые проводят мероприятия для подростков и вместе с подростками. Может быть, они пришли на эту страничку, чтобы посмотреть, что и как мы делаем и на какие ценности и цели опираемся.</h3>

			                    <p>Мы понимаем, что все ведут такую работу по-разному и готовы делиться своим опытом проведения клубов и выездных программ для подростков. Попытки описать подход — в разделе <a href="/collegues">"Коллегам"</a>.</p>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
</div>
</section>



