
	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">Страница<span class="tm-yellow-text"> про</span> нас</h1>
					<p class="tm-banner-subtitle">и про наш лагерь</p>
					<div class="row">
						<a href="#more1" class="tm-banner-link">Если ты подросток</a>	
						<a href="#more2" class="tm-banner-link">Если Вы родитель</a>	
						<a href="#more3" class="tm-banner-link">Если мы коллеги</a>	
					</div>
				</div>
				<img src="img/banner-3.jpg" alt="Banner 3" />	
		    </li>		    
		  </ul>
		</div>	
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/summer.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Много текста про нас</h2>
							<h3 class="slider-subtitle">Здравствуйте, подростки, родители и коллеги! </h3>
							<p class="slider-description">Рады приветствовать вас на нашем сайте Приходского подросткового клуба храма свв. Космы и Дамиана в Шубине (Москва).
                            Мы два раза в год проводим лагерь: в январе и в конце июня. А между лагерями мы общаемся на встречах клуба.. <br><br>
                            Чем эта страничка может быть полезна, интересна?<br><br>


							<!--<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
							</div>-->
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>	




    <section class="section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="tm-section-header section-margin-top">
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Чем эта страничка может быть полезна, интересна?</h2></div>
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>  
                </div>              
            </div>
        </div>




<!-- gray bg -->    
    <section class="container tm-home-section-1" id="more1">
        <div class="row">
            <!-- slider -->
            <div class="flexslider effect2 effect2-contact tm-contact-box-1">
                <ul class="slides">
                    <li>
                        <img src="img/summer.jpg" alt="image" class="contact-image" />
                        <div class="contact-text">
                            <h2 class="slider-title">Если ты подросток</h2>
                            <h3 class="slider-subtitle">Кто-то из подростков размышляет, не поехать ли в лагерь или не прийти ли на клуб.</h3>
                            <p class="slider-description"> Это здорово. Переходи на вкладку <a href="/kids">"Подросткам"</a> и ты сможешь увидеть фото и видео из клубов и лагерей и почитать впечатления подростков и ведущих, что это все такое.</p>
                            <!--<div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>-->
                        </div>                
                    </li>
                </ul>
            </div>
        </div>
    </section>      
	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more2">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/summer.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Если ВЫ родитель</h2>
							<h3 class="slider-subtitle">Кто-то из родителей размышляет, не записать ли своего сына или дочь в лагерь или не предложить ли ей/ему пойти на встречу клуба</h3>
							<p class="slider-description">Для вас мы тоже разместили описание подхода, наших целей и методов. Вы сможете посмотреть видео, почитать впечатления тех, кто в лагере уже бывал. Заходите на вкладку <a href="/parents">"Родителям"</a>. <br><br></p>
							<!--<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
							</div>-->
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>		




	<!-- gray bg -->

	<section class="container tm-home-section-1" id="more3">

		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/summer.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Если мы коллеги</h2>
							<h3 class="slider-subtitle">В разных храмах есть взрослые, которые проводят мероприятия для подростков и вместе с подростками.</h3>
							<p class="slider-description"> Может быть, они пришли на эту страничку, чтобы посмотреть, что и как мы делаем и на какие ценности и цели опираемся.  <br><br>
                            Мы понимаем, что все ведут такую работу по-разному и готовы делиться своим опытом проведения клубов и выездных программ для подростков. Попытки описать подход — в разделе <a href="/collegues">"Коллегам"</a>.</p>
							<!--<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
							</div>-->
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>			
	
	