

	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">Страница <span class="tm-yellow-text">для</span> подростков</h1>
					<div class="row">
						<p class="tm-banner-subtitle">текст для подростков</p>
						<a href="#more1" class="tm-banner-link">и блог</a>	
					</div>
				</div>
				<img src="img/banner-3.jpg" alt="Banner 3" />	
		    </li>		    
		  </ul>
		</div>	
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/club.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Привет! </h2>
							<h3 class="slider-subtitle">Здорово, что пришел. Может быть, ты размышляешь, не поехать ли в лагерь или не прийти ли на клуб.</h3>
							<p class="slider-description"> Здесь ты сможешь увидеть фото и видео из клубов и лагерей и почитать впечатления подростков и ведущих, что это все такое. <br><br>
                            Еще у нас есть группа в<a href="https://vk.com/clubdamian" class="tm-social-icon">Вконтакте  <i class="fa fa-vk"></i></a>. Там еще больше фото, видео. Там можно увидеть анонсы ближайших встреч и задать интересующие тебя вопросы.<br><br>
                            Подробнее о лагере <a href="http://localhost:3000/#more1" class="tm-social-icon"><i class="fa fa-home"></i> вот здесь.</a><br><br>
                            Подробнее о встречах клуба —  <a href="https://vk.com/pages?oid=-1906155&p=%D0%A1%D0%B2%D0%B5%D0%B6%D0%B8%D0%B5%20%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8" class="tm-social-icon"><i class="fa fa-calendar"></i> здесь.</a><br><br></p>
							<!--<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
							</div>-->
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>		
	

		<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more1">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">БЛОГ</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
		<div class="row">
			<!-- slider -->
			<div >
				<ul class="slides">
					<li>
						<img src="img/blog.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
						
							<a href="#"> <h2 class="slider-title">Тема поста</h2></a>
							<h3 class="slider-subtitle">Посты с меткой "для подростков"</h3>
							<p class="slider-description">Текст поста. Можно сделать только текст, а фото уже внутри поста. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">

								<a href="#" class="tm-social-icon"><i class="fa fa-comments"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-heart"></i></a>
							</div>
						</div>	



					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<!-- slider -->
			<div >
				<ul class="slides">
					<li>
						<img src="img/blog.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
						
							<a href="#"> <h2 class="slider-title">Тема поста</h2></a>
							<h3 class="slider-subtitle">Посты с меткой "для подростков"</h3>
							<p class="slider-description">Текст поста. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">

								<a href="#" class="tm-social-icon"><i class="fa fa-comments"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-heart"></i></a>
							</div>
						</div>	



					</li>
				</ul>
			</div>
		</div>


	</section>	
	<!-- white bg -->

	