


	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">Страничка <span class="tm-yellow-text"> для</span> родителей</h1>
					<p class="tm-banner-subtitle">Описание</p>
					<div class="row">
					<a href="#more1" class="tm-banner-link">Что такое клуб</a>	
					<a href="#more2" class="tm-banner-link">Что такое лагерь</a>	
					<a href="#more3" class="tm-banner-link">Прошедшие мероприятия</a>	
					</div>
				</div>
				<img src="img/banner-3.jpg" alt="Banner 3" />	
		    </li>		    
		  </ul>
		</div>	
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more1">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/club.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Дорогие родители! </h2>
							<h3 class="slider-subtitle">Вероятно, вы размышляете, не записать ли своего сына или свою дочь в лагерь или не предложить ли ей/ему пойти на встречу клуба.</h3>
							<p class="slider-description">Здесь вы можете почитать описание подхода, наших целей и методов. Вы сможете посмотреть видео, почитать впечатления тех, кто в лагере уже бывал.<br><br>
                            Подробнее о лагере<a href="/#more2" class="tm-social-icon"><i class="fa fa-home"></i> вот здесь.</a><br><br>
                            Упоминания о клубе и лагере в СМИ  <a href="https://www.instagram.com/explore/tags/%D0%BA%D0%BE%D1%81%D0%BC%D0%B0%D0%BB%D0%B0%D0%B3%D0%B5%D1%80%D1%8C2019/" class="tm-social-icon"><i class="fa fa-instagram"></i>  здесь.</a> </p>
							<!--<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>-->
							</div>
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>		

	<section class="container tm-home-section-1" id="more2">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/winter.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Про лагерь для родителей</h2>
							<h3 class="slider-subtitle">Gravida nibh vel velit auctor aliquet enean sollicitudin lorem quis auctor, nisi elit consequat ipsum</h3>
							<p class="slider-description">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<!--<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>-->
							</div>
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>		

	<section class="container tm-home-section-1" id="more3">


		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img src="img/events.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
							<h2 class="slider-title">Прошедшие мероприятия</h2>
							<h3 class="slider-subtitle">Gravida nibh vel velit auctor aliquet enean sollicitudin lorem quis auctor, nisi elit consequat ipsum</h3>
							<p class="slider-description">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<!--<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>-->
							</div>
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section>		
	

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more1">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">БЛОГ</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
		<div class="row">
			<!-- slider -->
			<div >
				<ul class="slides">
					<li>
						<img src="img/blog.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
						
							<a href="#"> <h2 class="slider-title">Тема поста</h2></a>
							<h3 class="slider-subtitle">Посты с меткой "для родителей"</h3>
							<p class="slider-description">Текст поста. Можно сделать только текст, а фото уже внутри поста. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">

								<a href="#" class="tm-social-icon"><i class="fa fa-comments"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-heart"></i></a>
							</div>
						</div>	



					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<!-- slider -->
			<div >
				<ul class="slides">
					<li>
						<img src="img/blog.jpg" alt="image" class="contact-image" />
						<div class="contact-text">
						
							<a href="#"> <h2 class="slider-title">Тема поста</h2></a>
							<h3 class="slider-subtitle">Посты с меткой "для родителей"</h3>
							<p class="slider-description">Текст поста. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">

								<a href="#" class="tm-social-icon"><i class="fa fa-comments"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-heart"></i></a>
							</div>
						</div>	



					</li>
				</ul>
			</div>
		</div>


	</section>	


	
	