    
        <!-- Testimonial -->

       
          <div class="tm-testimonials-box">
            <h3 class="tm-testimonials-title">Последние материалы</h3>
            <div class="tm-testimonials-content">
              <div class="tm-testimonial">
              <hr/><h3>Тема поста</h3><br/>
                <p>"Текст одного из последних постов..."</p>
                        <strong class="text-uppercase">Читать пост...</strong>  
              </div>
              <div class="tm-testimonial">
              <hr/><h3>Тема поста</h3><br/>
                <p>"Текст одного из последних постов..."</p>
                        <strong class="text-uppercase">Читать пост...</strong>    
              <div class="tm-testimonial">
              <hr/><h3>Тема поста</h3><br/>
                <p>"Текст одного из последних постов..."</p>
                        <strong class="text-uppercase">Читать пост...</strong>  
              </div>                  
            </div>
          </div>  
        </div>              
  
